@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Majorant-Bold';
    src: url('../fonts/Majorant-Bd.ttf') format('truetype');
}
@font-face {
    font-family: 'Majorant-Regular';
    src: url('../fonts/Majorant-Rg.ttf') format('truetype');
}